<% content_for :title do %>My address
<% end %>
<div class="container">
  <div class="row">
    <h3>My address</h3>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p>Location: <%= @user.address.location if @user.address %></p>
    </div>
    <div class="col-md-6">
      <%= button_to "Assign new Address", user_assign_new_address_path(user_id: current_user.id, assign_new: true), :data => {:confirm => "Are you sure?"}, :method => :post, :class => 'btn btn-success pull-right' %>
    </div>
  </div>
</div>